.badge {
  background-color: $black;
  color: $primary-color;
  width: 1.6rem;
  height: 1.6rem;
  min-width: unset;
  padding: 0;
  line-height: 1.6rem;
  position: absolute;
  left: 26px;
  top: 14px;
}
