.tabs-container {
  border-bottom: 2px solid $gray;
  display: flex;
  margin-bottom: 4rem;
  margin-top: 2.4rem;

  .tab {
    color: $medium-gray;
    cursor: pointer;
    margin-right: 3.3rem;
    padding-bottom: .5rem;

    .count {
      margin-left: .3rem;
    }

    &.active {
      border-bottom: 2px solid $primary-color;
      color: $primary-color;
      margin-bottom: -2px;
    }
  
    @include breakpoint(small down) {
      font-size: 1.3rem;
      margin-right: 0;
    }
  }

  @include breakpoint(small down) {
    justify-content: space-between;
    margin-bottom: 3rem;
    margin-right: 2.2rem;
  }
}
